<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BigByteTechnologies.Windows.AHKSnipit.HotList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BigByteTechnologies.Windows.AHKSnipit.HotList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <BigByteTechnologies.Windows.AHKSnipit.HotList.Properties.Settings>
            <setting name="DefaultSnippitExt" serializeAs="String">
                <value>snippit</value>
            </setting>
            <setting name="DefaultInstalXml" serializeAs="String">
                <value>&lt;?xml version="1.0"?&gt;
&lt;SnippitInstal xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:noNamespaceSchemaLocation="SnippitInstal.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
    &lt;profile version="0.1.0.0" minVersion="0.2.0" name="sample"&gt;
        &lt;codeLanguage&gt;
            &lt;codeName&gt;Sample&lt;/codeName&gt;
            &lt;paths&gt;
                &lt;mainData&gt;sample&lt;/mainData&gt;
            &lt;/paths&gt;
        &lt;/codeLanguage&gt;
        &lt;windows&gt;
            &lt;window&gt;
                &lt;name&gt;Notepad&lt;/name&gt;
                &lt;value&gt;ahk_class Notepad&lt;/value&gt;
            &lt;/window&gt;
        &lt;/windows&gt;
    &lt;/profile&gt;
    &lt;plugin version="0.1" profileName="sample" name="sample"&gt;
        &lt;hotstrings&gt;
            &lt;hotstring trigger="hw"&gt;
                &lt;name&gt;Hello World&lt;/name&gt;
                &lt;description&gt;Hello World&lt;/description&gt;
                &lt;category&gt;Sample&lt;/category&gt;
                &lt;forceclear&gt;true&lt;/forceclear&gt;
                &lt;snippit&gt;hello world&lt;/snippit&gt;
                &lt;type&gt;inline&lt;/type&gt;
            &lt;/hotstring&gt;
        &lt;/hotstrings&gt;
    &lt;/plugin&gt;
&lt;/SnippitInstal&gt;</value>
            </setting>
        </BigByteTechnologies.Windows.AHKSnipit.HotList.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BigByteTechnologies.Windows.AHKSnipit.HotList.Properties.Settings>
            <setting name="LastDataBinaryImportLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDataTextImportLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SiWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="SiLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SiSize" serializeAs="String">
                <value>689, 451</value>
            </setting>
            <setting name="PlgLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PlgSize" serializeAs="String">
                <value>826, 556</value>
            </setting>
            <setting name="PlgWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ProWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ProLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ProSize" serializeAs="String">
                <value>613, 370</value>
            </setting>
            <setting name="SiLastImportLocationInstall" serializeAs="String">
                <value />
            </setting>
            <setting name="SiLastExportLocationInstall" serializeAs="String">
                <value />
            </setting>
            <setting name="SiLastExportLocationPlugin" serializeAs="String">
                <value />
            </setting>
            <setting name="ValLastSiLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ValLastProLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ValLastPlgLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ValWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ValLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ValSize" serializeAs="String">
                <value>442, 276</value>
            </setting>
            <setting name="SiColKeyWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="SiColModWidth" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="SiColNameWidth" serializeAs="String">
                <value>106</value>
            </setting>
            <setting name="SiColDescWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="SiColCategoryWidth" serializeAs="String">
                <value>100</value>
            </setting>
        </BigByteTechnologies.Windows.AHKSnipit.HotList.Properties.Settings>
    </userSettings>
</configuration>
